*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    background-color: #191919;
    color: #f4f4ec;
    padding-top: 30px;
}

hr {
    background-color: #434343;
}

.lineup {
    display: inline-block;
}

.title {
    font-size: 2em;
}

.noun {
    font-size: 0.8em;
    font-style: italic;
    padding-left: 10px;
    font-weight: bold;
}

.definition {
    margin-top: 10px;
    font-size: 0.8em;
}

.row {
    margin-bottom: 20px;
}

.block {
    background-color: #2f2f2f;
    font-size: 1em;
    padding: 3px 9px;
}

.add {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #006699;
    min-height: 30px;
    text-align: center;
    cursor: pointer;
}

.add .form {
    display: none;
    cursor: default;
    text-align: left;
}

.add .form input, .add .form textarea {
    font-size: 1em;
    width: 80%;
}

.label {
    padding-left: 9px;
    margin-bottom: 10px;
}

.button {
    background-color: #2f2f2f;
    width: 39%;
    margin: 10px 14px 10px 0px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.error {
    background-color: #ffff33;
}