<html>
<head>
    <link rel='stylesheet' type='text/css' href='css/toast.css'>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body>

<script type="text/template" id="row-tpl">
    <div class='row'>
        <div class='block unit one-of-four'><%= realtext.toLowerCase() %></div>
        <div class='block unit one-of-four'><%= bernietext.toLowerCase() %></div>
        <div class='unit one-of-two'><%= description.toLowerCase() %></div>
    </div>
</script>

<div class='container'>
  <div class='grid'>

    <!-- dictionary styled fixed header -->
    <div class='unit span-grid'>
        <span class='lineup title'>ber&#8226;nie mills</span>
        <span class='lineup noun'>noun</span>
        <p class='definition'>
            :&nbsp;&nbsp;the incorrect recollection (often humorous) of a person, place or thing.
            most often found in discussions about names, titles, quotes and lyrics.
        </p>
        <div class='grid row'>
            <div class='block unit one-of-four'>real text</div>
            <div class='block unit one-of-four'>mistake text</div>
            <div class='unit one-of-two'>description</div>
        </div>
        <hr>
    </div>

    <div class='list'></div>
  </div>
</div>

<script src='js/jquery.js'></script>
<script src='js/underscore.js'></script>
<script src='js/backbone.js'></script>
<script src='js/app.js'></script>
</body>
</html>